/.DS_Store
/DESIGN
/Mall_Iterationsrapport_The_Leftovers.ods
/~$Mall_Iterationsrapport_The_Leftovers.ods

*.pyc
leftoverlunch/leftoverlunch/__pycache__/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Python Virtual Environments
Django_venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.venv

# Media files
media/
leftoverlunch/media/
