/.DS_Store
/DESIGN
/Mall_Iterationsrapport_The_Leftovers.ods
/~$Mall_Iterationsrapport_The_Leftovers.ods

*.pyc
leftoverlunch/leftoverlunch/__pycache__/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Django_venv/
