{% extends 'customer/base.html' %}

{% block content %}

<section class="h-100 h-custom pt-5">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card white_color" style="border-radius: 15px;">
            <div class="card-bodyp-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      {% for item in items.all %}
                      <h6 class="badge badge-info text-dark rounded-8 mb-3 me-2">Order # {{ pk }}</h6>
                      
                    </div>
                    <hr class="my-4">
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                        
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h4 class="text-black text-capitalize">{{ item.name }}</h4>
                        <h6 class="text-black mb-0"></h6>
                      </div>
                      <!--- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="bi bi-dash-circle-fill"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm border-0 white_color" />
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="bi bi-plus-circle-fill"></i>
                        </button>
                      </div> -->
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{ item.price }} kr</h6>
                      </div>
                      
                      <!---<div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="bi bi-x-lg"></i></a>
                      </div> -->
                    </div>
                    {% endfor %}
                    <hr class="my-4">
  
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'index' %}" class="text-body"><i
                            class="bi bi-arrow-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  
                  <div class="p-5">
                    <h3 class="fw-bold">Summary</h3>

                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{ price }} kr</h5>
                    </div>
  
                    <!--<button type="button" class="btn btn_store btn-dark btn-block flex-shrink-0  ms-2 rounded-8"
                      data-mdb-ripple-color="dark">Proceed to Pay</button> -->
                     
                       <div id="paypal-button"</div>
                    
  
                  </div>
                </div>
                <!--<form action="#!">
                  <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                    
                    <div class="col-12 col-md-6">
                      <label for="phone" class="form-label">Phone Number</label>
                      <div class="input-group">
                        <span class="input-group-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                          </svg>
                        </span>
                        <input type="tel" class="form-control" id="phone" name="phone" value="">
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="subject" name="subject" value="" required>
                    </div>
                    <div class="col-12">
                      <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form> -->
      
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>


     
  </section>


  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'AVyfTZrp7PuwwZ8bobyo3ogpA-JyH4dK7rarJ1-ynVcIGjl6SBK1iz5JVafhRsypKU_6Zy8yi_16QDYD',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'sv_SE',
    style: {
      size: 'responsive' ,
      color: 'black',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '{{ price }}',
            currency: 'SEK'
          }
        }]
      });
    },
    onAuthorize: function(data, actions) {
      // Redirect to the order confirmation view after payment authorization
      window.location.href = "{% url 'payment-confirmation' pk %}";

      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        $.ajax({
            type: 'POST',
            url: confirmationUrl,
            beforeSend: function(request) {
                request.setRequestHeader('X-CSRFToken', csrftoken);
            },
            data: JSON.stringify({'isPaid': true}),
            success: function(data) {
                console.log("AJAX Response: ", data);
                window.location.href = '/payment-confirmation/';
            },
            error: function(xhr, status, error) {
                console.error("AJAX Error: ", error);
                // Handle AJAX errors if necessary
            }
        });
    });
},
}, '#paypal-button');
   


  

  

</script>

{% endblock content %}
