{% extends 'customer/base.html' %}
{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 text-light">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://lh3.googleusercontent.com/p/AF1QipPST5YY_c3DFeKEPEKkWN_GpRbCqiUzu-UweFIt=s1360-w1360-h1020" alt="..." /></div>
            <div class="col-md-6 ">
                <span class="text-muted"><i class="bi bi-geo-alt"></i><a href="#" class="text-muted link-light"> Restaurant Husman</a></span>
                <!--- <div class="small mb-1">SKU: 12345 </div> -->
                <h1 class="display-5 fw-bolder">Restaurant Name</h1>
                <div class="fs-5 mb-5">
                    <span>30 kr</span>
                </div>
                <p class="lead">Platea ac maximus quisque condimentum dictumst malesuada faucibus massa sociosqu rutrum dolor praesent mollis libero hendrerit elementum senectus parturient</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button type="submit" name="items[]" value="{{ app.pk }}" class="btn btn-black flex-shrink-0 ms-2 rounded-8 ">
                        <i class="bi bi-bag-plus"></i> Reserve
                    </button>
                </div>
            </div>
        </div>
       
    </div>
</section>

<div class="container mb-5 col-lg-6 py-5 mt-5">
    <div class="card shadow-lg row justify-content-center mt-5">
        <div class="card-body p-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>You should receive a confirmation email soon.</p>
            <a class='btn btn-dark btn_store flex-shrink-0  ms-2 rounded-8' href="{% url 'index' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="card shadow-lg row justify-content-center mt-5">
        <div class="col-sm-12 text-center p-5">
            <h3 class="pb-3 ">Order Summary:</h3>
            {% for item in items %}
                <p>{{ item.name }} <span class="pl-3">{{ item.price }} kr</span></p>
              {% endfor %}
            <p class="font-weight-bold pt-4">Total: {{ price }} kr</p>
        </div>
    </div>
</div>

{% endblock content %}

