{% extends 'customer/base.html' %}
{% block content %}

<form method="POST" action="{% url 'order' %}">
    {% csrf_token %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 text-light">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://lh3.googleusercontent.com/p/AF1QipPST5YY_c3DFeKEPEKkWN_GpRbCqiUzu-UweFIt=s1360-w1360-h1020" alt="..." /></div>
            <div class="col-md-6 ">
                
                <span class="text-light"><i class="bi bi-geo-alt"></i><a href="#" class="link-light"> Restaurant Husman</a></span>
                <!--- <div class="small mb-1">SKU: 12345 </div> -->
                <h1 class="display-5 fw-bolder">Restaurant Name</h1>
                <div class="fs-5 mb-5">
                    <span>30 kr</span>
                </div>
                
                <p class="lead">Platea ac maximus quisque condimentum dictumst malesuada faucibus massa sociosqu rutrum dolor praesent mollis libero hendrerit elementum senectus parturient</p>
                <div class="d-flex">
                   <!--- <input class="form-control text-center me-3" id="inputQuantity" type="number" name="quantity" value="1" style="max-width: 3rem" /> -->
                    <button type="submit" name="item_pk" value="{{ app.pk }}" class="btn btn-light flex-shrink-0 ms-2 rounded-8 shadow-0">
                    <i class="bi bi-bag-plus"></i> Reserve
                    </button>
                </div>
            </div>
        </div>
       
    </div>
</section>
</form>

{% endblock content %}

